doctype html
html(lang="en")
   head
      title= title

      link(rel="stylesheet", href="/css/vendor/bootstrap.min.css")

      script(src="http://localhost:3000/socket.io/socket.io.js")

      script(src="/js/vendor/jquery.min.js")
      script(src="/js/vendor/gl-matrix-min.js")
      script(src="/js/vendor/numeric-1.2.6.min.js")

      script(src="/js/vroom.js")

      script.
         var app = null;

         $(document).ready(function() {

            var socket = new io.connect('http://localhost:3000');
            socket
               .on('update', function(data) {
                  console.log('   [vroom-server]: received update signal');
                  reload('#{source}');
               });
         });

         function reload(filename) {
            console.log('[vroom-server]: reloading ' + filename);

            var head = document.getElementsByTagName('head')[0];
            var new_script = document.createElement('script');
            new_script.src = filename;
            head.appendChild(new_script);
            
            setTimeout(function() { app.reload(); }, 250);
         }

   body
      block content

   != "<script>\n"
   - if (query)
      != "   var opts = {};\n"
      - for key in Object.keys(query)
         != "   opts['" + key +  "']='" + query[key] + "';\n"
      != "   app = new VroomApp('#webgl', opts);\n"
   - else
      != "   app = new VroomApp('#webgl');\n"
   != "   setTimeout(function() { reload('" + source + "'); }, 1000);\n"
   != "   app.run();\n"
   != "</script>\n"
